List

In [16]:
user_input=input("Enter name of your friends based on rank separated by space:")
my_list=user_input.split()
print(my_list)

Enter name of your friends based on rank separated by space:bijay kailash bibek
['bijay', 'kailash', 'bibek']

In [2]:
my_list.append("Ramesh")
print(my_list)

['kailash', 'bibek', 'bijay', 'Ramesh']

In [5]:
#remove(), del and pop
my_list.remove("Ramesh")
print(my_list)

['kailash', 'bibek', 'bijay']

In [6]:
del my_list[2]
print(my_list)

['kailash', 'bibek']

In [7]:
my_list.pop(1)
print(my_list)

['kailash']

In [8]:
#Tuple
user_input=input("Enter name of your friends based on rank separated by space:")
my_list=tuple(user_input.split())
print(my_list)

Enter name of your friends based on rank separated by space:kailash bibek bijay
('kailash', 'bibek', 'bijay')

In [11]:
#dictonary
user_input=input("Enter name and age separated by comma")
name,age=user_input.split(',')
my_dict={'name':name,"age":int(age)}
print(my_dict)

Enter name and age separated by commabijay,27
{'name': 'bijay', 'age': 27}

In [13]:
#sets
user_input=input("Enter name of your friends based on rank separated by space:")
my_sets=set(user_input.split())
print(my_sets)

Enter name of your friends based on rank separated by space:bijay kailash bijay bibek
{'bijay', 'bibek', 'kailash'}

In [ ]:
user_input=input("Enter name of your friends based on rank separated by space:")
my_list=user_input.split()
print(my_list)
print(id(my_list[0]))